body {
    background-color: lightgray;
    font-family: 'Segoe UI';
}

.container {
    width: 1440px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

input {
    display: none;
}

.accordion-button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 1.0);
}

.accordion-button span {
    cursor: pointer;
    font-size: 40px;
    color: #333333;
    font-weight: 500;
}

.accordion-button:hover span {
    transform: rotate(45deg);
}

.accordion-button:hover + .accordion-content {
    opacity: 1;
    overflow: visible;
    max-height: 100%;
}

.accordion-button:hover + .accordion-content img {
    scale: 1;
    transition: all 0.5s ease-in-out;
}

.accordion-content:hover img{
    opacity: 1;
    max-height: 100%;
    cursor: pointer;
    scale: 1;
}
.accordion-content:hover {
    opacity: 1;
    max-height: 100%;
    cursor: pointer;   
}

.accordion-content {
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 1.0);
}

.accordion-content img {
    width: 500px;
    scale: 0.3;
}

.accordion input:checked ~ .accordion-content {
    max-height: 100%;
    opacity: 1;
    cursor: pointer;
    overflow: hidden;
    scale: 1;
}

.accordion input:checked ~ .accordion-content img {
    scale: 1;
    transition: all 0.5s ease-in-out;
}

h2 {
    padding: 0.4em 0;
    color: blue;
}
.accordion-button h2:hover  {
    color:black;
}



